.ListModeCardItem {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 2px solid lightgrey;
}

.ListModeCardDetails {
  flex-grow: 8;
  flex-basis: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > p {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 0.5rem;
  }
}

.ListModeCardQuantityModifiers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 2;
  flex-basis: 0;

  p,
  button {
    margin-left: 1rem;
  }

  p {
    margin-right: 2rem;
  }

  button {
    font-size: 1rem;
    outline: 0;
    border: 0;
    cursor: pointer;
  }
}
