.TextModeCardItem {
  border: 1px solid lightgrey;
  border-top: 3px solid darkblue;
  border-radius: 5px;
  box-shadow: 0 4px 2px -3px;
  margin: 0.5rem;

  width: calc(25% - 1rem);
  display: flex;
  flex-direction: column;
}

.TextModeCardItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid lightgrey;
  margin-top: 2rem;
  border-top: 2px solid darkblue;

  &:first-child {
    margin-top: 0;
    border-top: none;
  }

  p {
    font-weight: bold;
    min-width: 40%;
    border: none;
    padding: none;

    &:last-child {
      text-align: right;
    }
  }
}

.TextModeCardItemContent {
  div {
    padding: 0.5rem;
    border-bottom: 1px solid lightgrey;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.TextModeCardItemOracleText {
  p {
    margin-bottom: 1rem;
    line-height: 150%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.TextModeCardItemFlavorText {
  margin-top: auto;
  p {
    font-style: italic;
    line-height: 150%;
  }
}

.TextModeCardItemControls {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;

  p {
    margin-right: auto;
    font-weight: bold;
  }

  button {
    margin-left: 0.25rem;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
