.TextModeCardItem {
  border: 2px solid lightgrey;
  margin: 0.5rem;
  padding: 0.5rem;
  width: calc(25% - 1rem);
  display: flex;
  flex-direction: column;
}

.TextModeCardItemCardFace {
  border: 2px solid black;
}

.TextModeCardItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid lightgrey;

  p {
    font-weight: bold;
    min-width: 40%;

    &:last-child {
      text-align: right;
    }
  }
}

.TextModeCardItemContent {
  p {
    margin: 0.5rem 0;

    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

.TextModeCardItemControls {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;

  p {
    margin-right: auto;
    font-weight: bold;
  }

  button {
    margin-left: 0.25rem;
    font-size: 1rem;
    border: none;
    outline: none;
  }
}
