.TextModeCardItemContainer {
  border: 2px solid lightgrey;
  margin: 0.5rem;
  padding: 0.5rem;
  width: calc(33.33% - 1rem);
}

.TextModeCardItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid lightgrey;

  p {
    font-weight: bold;
  }
}

.TextModeCardItemContent {
  p {
    margin: 0.5rem 0;

    &:first-child {
      font-style: italic;
      margin-bottom: 1rem;
    }
  }
}
